@import 'font-awesome';

.header {
 padding-right: 0;
 padding-left: 0;
}

#restaurant-index-page-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#restaurant-show-page-image {
  width: 100%;
  height: 410px;
  object-fit: cover;
  background-color: grey;
  opacity: 0.3;
  max-height: 100%;
}

#home-carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-color: grey;
  opacity: .4;
}
html body {
  background-color: #eee;
}

#navbar {
 background: #292d32;
}
#menu-item-show-page-image {
 height: 500px;
 object-fit: cover;
}

#menu-item-restaurant-index-image {
 height: 270px;
 object-fit: cover;
}

#menu-item-restaurant-show-card {
  height: 450px;
  object-fit: cover;
}

#link_to_user_profile a {
 text-decoration: none;
 color: #ffc107;
}

#link_to_user_profile a:hover {
  color: #fff7e3;
}

#link_to_sign_out a {
 text-decoration: none;
 color: #ffe59f;
}

#link_to_sign_out a:hover{
 color: #fff7e3;
}

#restaurant-index-image-card {
 height: 470px;
}
#menu-card-description {
 height: 40px;
}

#restaurant-show-page-link a {
 text-decoration: none;
 color: #0dcaf0;
}
#restaurant-show-page-link a:hover {
 color: #7ce3f8;
}
