@import 'font-awesome';
@import 'variables';

#spinner{
  min-height: 400px;
}

.footer {
  height: 40px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#footer-container {
 background-color: $footer-container-color;
}

#restaurant-index-page-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#restaurant-show-page-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  background-color: $restaurant-covered-image-color;
  opacity: 0.3;
  max-height: 100%;
}

#home-carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-color: $restaurant-covered-image-color;
  opacity: .4;
}

html body {
  background-color: $body-background-color;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 40px;
}

#navbar {
 background: $navbar-background-color;
}

#menu-item-show-page-image {
 height: 500px;
 object-fit: cover;
}

#menu-item-restaurant-index-image {
 height: 270px;
 object-fit: cover;
}

#menu-item-restaurant-show-card {
  height: 450px;
  object-fit: cover;
}

#link-to-user-profile a {
 text-decoration: none;
 color: $link-to-user-profile-color;
}

#link-to-user-profile a:hover {
  color: $link-to-user-profile-and-sign-out-hover-color;
}

#link-to-sign-out a {
 text-decoration: none;
 color: $link-to-sign-out-color;
}

#link-to-sign-out a:hover{
 color: $link-to-user-profile-and-sign-out-hover-color;
}

#restaurant-index-image-card {
 height: 470px;
}

#menu-card-description {
 height: 40px;
}

#restaurant-show-page-link a {
 text-decoration: none;
 color: $restaurant-show-page-link-color;
}

#restaurant-show-page-link a:hover {
 color: $restaurant-show-page-link-on-hover-color;
}

#footer-links a {
 text-decoration: none; 
 color: $footer-links-color;
}

#footer-links a:hover {
  color: $footer-links-color-on-hover;
}

#modal-content {
 background-color: $modal-background-color;
}

#table-column-names {
 color: $table-column-names-color;
}

.map {
  width: 100%;
  min-height: 400px;
}
