$footer-container-color: #212529;
$restaurant-covered-image-color: grey;
$body-background-color: #eee;
$navbar-background-color: #292d32;
$link-to-user-profile-color: #ffc107;
$link-to-user-profile-and-sign-out-hover-color: #fff7e3;
$link-to-sign-out-color: #ffe59f;
$restaurant-show-page-link-color: #0dcaf0;
$restaurant-show-page-link-on-hover-color: #7ce3f8;
$footer-links-color: white;
$footer-links-color-on-hover: #ffd05b;
$modal-background-color: #fff;
$table-column-names-color: #c29200;
