p.fs-2.text-center.text-warning.fw-bolder.font-monospace
  | Edit Details
= render '/admin/menu_items/form', menu_item: @menu_item, restaurant: @restaurant, return_to: admin_restaurant_path(@restaurant)
