p.fs-2.text-center.text-warning.fw-bold.font-monospace
 | Add New Dish!
= render '/admin/menu_items/form', menu_item: @menu_item, restaurant: @restaurant, return_to: admin_restaurant_path(@restaurant)
